<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/profile_worker.css')}}">
    <title>Profile {{name}}</title>
</head>
<body>
    <header>
        <a href="{{url_for('tracker.owner',id=id)}}">проекты</a>
    </header>
    <div class="main">
        <form action="{{url_for('tracker.profile_worker',id=id)}}" method="post">
            {{form.name}}
            {{form.email}}
            {{form.update}}
        </form>
    </div>
</body>
</html>