<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/project_worker.css')}}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
    <title>Project</title>
</head>
<body onunload="end('{{url_for("tracker.update_active",id=id,token=token)}}')">
    <header>
        <a href="{{url_for('tracker.worker',id=id)}}">tasks</a>
        <a href="{{url_for('tracker.profile_worker',id=id)}}">profile</a>
    </header>
    <div class="main">
        <h1>{{project[1]}}</h1> 
        <div><button onclick="start('{{url_for("tracker.update_time",id=id,token=token)}}','{{url_for("tracker.update_active",id=id,token=token)}}')" id="player">▶</button><p id="state">paused</p></div>
        <p id="time">{{project[0]}}</p>
        <h2>{{project[2]}}</h2>
    </div>
    <script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='js/project_worker.js')}}"></script>
</body>
</html>